body {
  height: 100vh;
  margin: 0 !important;
  font-family: 'Roboto', sans-serif;
  background-color: #030303;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.background {
  color: rgb(18 5 15);
  z-index: -10;
  position: fixed;
  inset: 0 0 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.star {
  position: absolute;
  z-index: -8;
}

.view {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

.wheel {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  flex-grow: 1;
}

body::before {
  position: absolute;
  light: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 7%;
  filter: url(#noiseFilter);
  pointer-events: none;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3.5rem;
  justify-content: flex-start;
  font-family: monospace;
}

.timer {
  font-size: 1.5rem;
  color: #f2f2f2;
}

.wheelCanvas {
  user-select: none;
  cursor: grab;
}

.wheelCanvas.grabbing {
  cursor: grabbing;
}


.spinButton {
  margin: 2rem 0 0 0;
}

.spinButton svg {
  rotate: 0deg;
  transition-duration: 600ms;
}

.spinButton:hover svg {
  rotate: 540deg;
}

.spinButton:disabled {
  cursor: progress;
}

.cronometer {
  color: red;
  font-size: 22px;
}

.itemList-container {
  width: 22rem;
  display: flex;
  flex-direction: column;
  background: #111;
  border-right: solid #333 1px;
  box-sizing: border-box;
}

.itemList-container > .tab {
  padding: 0.5rem 1rem;
}

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:disabled, .button:disabled {
  opacity: .5;
}

button.button, .button {
  display: flex;
  align-items: center;
  background-color: #FEFEFE;
  color: #222;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: solid #666 1px;
}

.button:hover {
  outline: 3px solid #ffcf00;
}

.button:active {
  outline: 4px solid #ff8800;
}

.button:hover:disabled, .button:active:disabled {
  outline: none;
}

.itemInput-container {
  display: flex;
  justify-content: space-between;
  border-bottom: solid #333 1px;
  gap: 1rem;
  background: #333333;
  padding: 1.5rem 1rem !important;
}

.itemInput-container input {
  flex-grow: 1;
  height: 2rem;
  border: 1px solid #666;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1rem;
}

.itemList {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-bottom: solid #333 1px;
}

button.item {
  display: flex;
  gap: 1rem;
  margin: 0.25rem auto;
  width: 100%;
  padding: .5rem;
  border-radius: 8px;
  background: #333;
  color: #FEFEFE;
  cursor: pointer;
  transition-duration: 100ms;
  align-items: center;
}

.item:hover {
  background-color: rgb(105, 0, 0);
}

.item:active {
  background-color: rgb(215, 0, 0);
}

.item:focus {
  outline: none;
}

.action-buttons-box {
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 .5rem 0;
}
.label {
  color: #FEFEFE;
  font-family: monospace;
}

.inputs-container .inputValueDisplay {
  color: #FEFEFE;
  font-family: monospace;
}

.inputControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputControl input[type="range"] {
  width: 256px;
}

.custom-file-input {
  display: none;
}

.custom-file-label {
  width: 18rem;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

/* Styling for the selected file name */
.file-name {
  color: white;
  margin-top: 10px;
}


.log {
  color: #ffffffc7;
  width: 8rem;
  display: flex;
  align-items: flex-start;
  padding: 1rem 0.25rem;
  flex-direction: column;
}

.saveAsDefaultButton-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.logEntry {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: monospace;
}

.alert {
  color: #FEFEFE;
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
}

/* For WebKit-based browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f100;
  /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar handle */
  border-radius: 4px;
  /* Rounded corners of the handle */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color of the scrollbar handle on hover */
}